@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Classe pour compenser la hauteur du header fixe */
  .with-fixed-header {
    padding-top: 4rem; /* 64px pour mobile */
  }
  
  @screen sm {
    .with-fixed-header {
      padding-top: 5rem; /* 80px pour desktop */
    }
  }
}

/* Styles pour AOS */
[aos="fade-up"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity, transform;
}

[aos="fade-up"].aos-animate {
  opacity: 1;
  transform: translateY(0);
}